<div class="lists">
      <p class="title">在捐项目</p>
      <div class="list">
        <img src="../images/pro_2.jpg" alt="">
        <div class="scroll">
          <div style="margin-top:72px;">
            <p>起投 2moac</p>
            <div class="progress">
              <div class="progress-bar"></div>
              <span>75%</span>
            </div>
          </div>
        </div>
        <button ui-sref="details">立即支持</button>
      </div>
      <div class="list">
        <img src="../images/pro_1.jpg" alt="">
        <div class="scroll">
          <div style="margin-top:72px;">
            <p>起投 4moac</p>
            <div class="progress">
              <div class="progress-bar"></div>
              <span>60%</span>
            </div>
          </div>
        </div>
        <button ui-sref="details">立即支持</button>
      </div>
    </div>
