<div class="banner">
  <div class="nav">
    <div class="container">
      <div class="logo v-center"></div>
      <ul class="v-center">
        <li ui-sref='index.index'>首页</li>
        <li ui-sref='index.prods'  ng-click="getprods()">全部项目</li>
        <li ui-sref='index.active'>活动动态</li>
        <li ui-sref='index.intro'>介绍</li>
      </ul>
      <!--<button class="btn_login">登录/注册</button>-->
      <div class="login">
        <!--<a ui-sref="login"><span>登录</span></a>-->
        <a ui-sref="login"  ng-show="!user"><span>登录/注册</span></a>
        <a href="javascript:void(0);" ng-show="user"  ui-sref="person"><span>{{ user }}</span></a>
        <a href="javascript:void(0);"  ng-show="user" ng-click="logout();"><span>退出</span></a>
      </div>
    </div>
  </div>
</div>
<div class="content">
    <div class="container">
        <div class="lists">
            <p class="title">项目详情</p>
                <!--<div class="pro">-->
                    <div class="resume">
                        <img src="{{prod_details.logo}}" alt="">
                        <div class="mask">
                            <div>
                               <p>项目标题：{{prod_details.title}}</p>
                                <div class="between">
                                    <p>目标： {{prod_details.total_num}}Moac </p>
                                    <p>已筹：{{prod_details.current_num}}Moac</p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" style="width:{{prod_details.current_num * 100 / prod_details.total_num}}%"></div>
                                    <span>{{prod_details.current_num * 100 / prod_details.total_num}}%</span>
                                </div>
                                <p>时间：{{prod_details.create_time | time}}</p>
                                <p>捐赠方：光彩Moac</p>
                                <p>接收方：新疆光明小学</p>
                                <p>起投：{{prod_details.num}}Moac</p>
                                <div class="sup">
                                    <div><span ng-click="sub();">-</span><input type="text" value="{{num}}"><span ng-click="add();">+</span></div>
                                    <button ng-click="support();">立即支持</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="intro">
                        <h5>简介：</h5>
                        <!--<p>温度，在城市与乡村之间，演绎着不同的梦想。城市中，我们享受着温暖如春的室温，北京小学教室规定最低室温18℃。-->
                            <!--而在城乡的另一边，有我们看不到的寒冷.他们吃不饱、穿不暖、不怕冷，但是，他们很热爱学习，冬天他们居住在帐篷里学习，-->
                            <!--他们是祖国的花朵，却过着一个贫困的生活，就让我们伸出自己手，捐赠一些学生用品和被褥等，给他们送去一份关怀，一份爱。</p>-->
                      <p>{{prod_details.intro}}</p>
                    </div>
                </div>
        <!--</div>-->
    </div>
</div>
