<div class="banner">
  <div class="nav">
    <div class="container">
      <div class="logo v-center"></div>
      <ul class="v-center">
        <li ui-sref="index.index">首页</li>
        <li ui-sref="index.prods" ng-click="getprods();">全部项目</li>
        <li ui-sref="index.active">活动动态</li>
        <li ui-sref="index.intro">介绍</li>
      </ul>
      <div class="login">
        <!--<a ui-sref="login"><span>登录</span></a>-->
        <a ui-sref="login"  ng-show="!user"><span>登录/注册</span></a>
        <a href="javascript:void(0);" ng-show="user" ui-sref="person"><span>{{ user }}</span></a>
        <a href="javascript:void(0);"  ng-show="user" ng-click="logout();"><span>退出</span></a>
      </div>
    </div>
  </div>
  <div class="img">
    <!--<div class="container">-->
    <div class="photo">
      <img src="../images/banner1.jpg" alt="">
      <img src="../images/banner2.jpg" alt="">
    </div>
    <!--</div>-->
  </div>
</div>
<div class="content">
  <div class="container">
    <div ui-view></div>
  </div>
</div>
