<header>
  <div class="container">
    <p class="v-center">
      <span class="selected">中奖公布：XXX在捐献中获奖</span>
      <span>中奖公布：XXX在捐献中获奖</span>
      <span>中奖公布：XXX在捐献中获奖</span>
      <span>中奖公布：XXX在捐献中获奖</span>
    </p>
  </div>
</header>
<div ui-view></div>

<footer>
  <div class="container">
    <div>
      <img class="logo_img" src="images/logo.png" alt="logo">
      <p>咨询热线：</p>
    </div>
    <div>
      <h5>联系我们</h5>
      <p>地址：</p>
      <p>网址：</p>
      <p>电话：</p>
    </div>
    <div>
      <img class="weinxin_img" src="images/weinxin.jpg" alt="扫码关注">
      <p>扫码关注</p>
    </div>
  </div>
</footer>
